<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="logo-container">
        <img src="/assets/images/logo.png" alt="Ahorra+" class="logo">
      </div>
      <mat-nav-list> 
          <a [routerLink]="'inicio'" class="txt">Inicio</a>
          <a [routerLink]="'perfil'" class="txt">Perfil</a>
          <a [routerLink]="'transaccion'" class="txt">Transacción</a>
          <a [routerLink]="'reservar'" class="txt">Reservas</a>
          <a [routerLink]="'tarjetas'" class="txt">Tarjeta</a>
          <a [routerLink]="'reporte'" class="txt">Reportes</a>
          <a [routerLink]="'configuracion'" class="txt">Configuración</a>
      </mat-nav-list>
      <button mat-raised-button color="warn" class="logout-button">Cerrar sesión</button>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
