<div class="content">

    <div class="container">
        <h2>Carro</h2>
        <div class="form-group">
            <label for="monto-actual">Monto Actual S/.</label>
            <input type="text" id="monto-actual" value="350.00" readonly>
        </div>
        <div class="form-group">
            <label for="anadir">Añadir S/.</label>
            <input type="text" id="anadir">
        </div>
        <div class="form-group">
            <input type="text" id="nuevo-monto-actual" placeholder="Nuevo monto actual S/." readonly>
        </div>
        <button class="btn-primary">Guardar</button>
    </div>
</div>
