.tarjeta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 85vh;
    max-width: 80vw;
    height: 100vh;
    width: 100vw;    
    background-size: cover;
  }
  
  .tarjeta-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    height:200px;
    
  }
  
    .form-group {
    margin-bottom: 40px;
    text-align: left;
  }
  
  .form-group label {
    display: flex;
    margin-bottom: 20px;
    justify-content: center; 
    align-items: center;
   
  }
  
  .form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     margin: 0 auto; 
    display: block;
  }