.tarjeta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    max-height: 80vh;
    width: 85vw;
    height: 100vh;
    
    
    background-size: cover;
  }
  
  .tarjeta-card {
    background-color: #ffffffc2;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width:500px;
    width: 80%;
    
  }
  
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #069AC1;
    color: #000000;
    
    font-weight: bold;
  }
  
  .btn-secondary {
    background-color: #46D677;
    color: #000000;
  font-weight: bold;
  
  }
  
  .btn-tercero {
    background-color: #816adab9;
    color: #000000;
    
    font-weight: bold;
  }

 
.button-container {
        display: flex;
        justify-content: flex-start;
    }
.button-container button {
        margin-right: 10px;
    }
.button-container button:last-child {
        margin-right: 0;
    }

