
.container{
    display: flex;
    justify-content: space-between;
}

.right{
    width: 100%;
    margin-left: 250px;

    
}
app-nav-lateral{
    position: fixed;
}
.content{

    display: flex;
    height: 0cap;
    /*background-color: rgb(136, 10, 255);*/
    padding: 44.5px 37.96px;
}


