<div class="login-container">
    <div class="login-card">
      <img src="assets/images/logo.png" alt="Ahorra+" class="logo">
      <h2 style="color:white">AHORRA+</h2>
      <form>
        <div class="form-group">
          <label for="email" style="color:white">Correo Electrónico:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password" style="color:white">Actualizar Contraseña:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <button type="button" class="btn btn-secondary">Volver</button>
      </form>
    
    </div>
  </div>