


<div class="card-info-container">
    <div class="card-info-card">
      <img src="assets/images/tarjeta.webp" alt="Credit Card" class="credit-card-img">
      <form>
        <div class="form-group">
          <label for="cardNumber">Numero de tarjeta:</label>
          <input type="text" id="cardNumber" name="cardNumber" required>
        </div>
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group expiration-cvv">
          <div>
            <label for="expirationDate">Fecha de expiración:</label>
            <input type="date" id="expirationDate" name="expirationDate" required>
          </div>
          <div>
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required>
          </div>
        </div>
        <button type="button" class="btn btn-secondary">Omitir</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
  