<div class="content">

    <div class="container">
        <h2>¿CUÁNTO QUIERES AHORRAR POR MES?</h2>
        <div class="form-group">
            <label for="tipo-reserva">Tipo de reserva</label>
            <div class="input-group">
                <input type="radio" id="gastos" name="tipo-reserva" value="Gastos">
                <label for="gastos">Gastos</label>
                <input type="radio" id="ahorro" name="tipo-reserva" value="Ahorro">
                <label for="ahorro">Ahorro</label>
                <div class="form-group">
            <input type="text" id="fecha" placeholder="Fecha">
            </div >
        </div >
            <input type="text" id="descripcion" placeholder="Descripción" >
    </div>
        
        <div class="form-group-2">
            <label for="monto">Monto S/.</label>
            <div class="form-monto">
            <input type="text" id="monto" placeholder="Monto">
        </div>

            
        </div>
        <button class="btn-primary">Guardar</button>
    </div>
</div>
