<div class="container">
    <div class="tarjetas">
      <button [routerLink]="''" mat-flat-button color="primary">Nueva tarjeta</button>

        <app-debit-card 
        [name]="name" 
        [cardNumber]="cardNumber"
        [cvv]="cvv"
        [expiryDate]="expiryDate"
        ></app-debit-card>


        <div class="saldo">
          <h4>Progreso</h4>
          <mat-progress-bar  mode="determinate" value="40" class="barra"></mat-progress-bar>

          <h4>S/. {{saldo}}</h4>
        </div>
        
    </div>

    <div class="transacciones">
      <div class="headTransacciones">
        <h3>Transacciones</h3>
        <div class="buscador">
          <input type="text" placeholder="Descripcion" (click)="'(){}'">
          <button mat-icon-button aria-label="Buscar">
            <mat-icon>search</mat-icon>
          </button>

        </div>
      </div>
        


        <table mat-table [dataSource]="dataSource">
            <!--          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let elemento"> {{elemento.id}} </td>
            </ng-container>
            -->        
            <ng-container matColumnDef="reserva">
              <th mat-header-cell *matHeaderCellDef> Reserva </th>
              <td mat-cell *matCellDef="let element"> {{element.reserva}} </td>
            </ng-container>
        
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha.getDate()}}/{{element.fecha.getMonth()}}/{{element.fecha.getFullYear()}} </td>
            </ng-container>
        
            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha.getHours()}} : {{element.fecha.getMinutes()}}</td>
            </ng-container>
            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let element"> S/. {{element.monto.toString()}}  </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoReserva.toString()}} </td>
            </ng-container>

        
        
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
                  <mat-paginator [length]="dataSource.data.length"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                  </mat-paginator>

    </div>



    
</div>

