<div class="tarjeta-container">
    <div class="tarjeta-card">
<!---
<div class="saldo">
    <label for="saldo ">SALDO:</label>
    <input type="saldo" id="saldo" name="saldo" required>
</div>

-->

      <h2>Mi tarjeta</h2>
      <form>
        <div class="form-group">
          <label for="N.tarjeta">Numero de Tarjeta</label>
          <input type="N.tarjeta" id="N.tarjeta" name="N.tarjeta" required>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="nombre" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="fecha.expiracion">Fecha de expiración</label>
          <input type="fecha.expiracion" id="fecha.expiracion" name="fecha.expiracion" required>
        </div>
        <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="cvvn" id="cvv" name="cvv" required>
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-primary">Depositar</button>
            <button type="submit" class="btn btn-primary">Retirar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      
    </div>
  </div>